* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#weather__container {
    display: flex;
    align-items: center;
}

.covid__container {
    display: flex;
    align-items: center;
}

.covid__icon {
    width: 4rem;
}